<!DOCTYPE html>
<meta charset="utf-8"></meta>
<html>
    <head>
      <title>Lanos Mit Huten 2021</title>
        <link href="static/main.css" rel="stylesheet" />
        <script type="text/javascript">
          function rickroll() {
            document.getElementById('rr').innerHTML = '<img src="static/rr.gif"/>';
          }
        </script>

    </head>
    <body>
        <div class="content">
            <img src="static/construction.webp" />
            <h2>LANOS MIT HUETEN 2021</h2>
            <h1>Das Beste Openair in der Welt!!!</h1>
            <marquee>!!!Schaue <a href="https://www.youtube.com/watch?v=6YDoowoYzOI">hier</a> du Tüftius, um Neues zu erfahren!!!</marquee>
            <div class="pics">
              <p>Hier sind alle Infos fuer das Lanos mit Hueten 2021</p>
              <p>Datum: 1.7.-4.7.2021</p>
              <p>Mitbringen: Zeltmaterial</p>
              <p>Kosten: Weiss ich nix</p>
              <p>Ticketer: auf Anfrage bei Livigno</p>
              <p>Röv: Neon</p>
              Dis Page madd by: Balduin de Marais
            </div>
            <table>
                <tr>
                    <td>
                        <img src="static/guestbook.gif" onclick="alert('als ob i ez es guestbook iibaut het')"/>
                    </td>
                    <td>
                        You are the<br />
                        <img src="static/hitcounter.png" onclick="alert('ja natuerlich bisch du immer de 1042 bsuecher, das isch e hundskomuns bildli wo immer s glich stoot.')" /><br />
                        visitor!!!
                        <div id="rr">
                            am besten zu betrachten mit:<br />
                            <img src="static/ie.gif" onclick="rickroll()"/>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
