<!DOCTYPE html>
<meta charset="UTF-8">

<html>
<head>
  <!-- <link rel="icon" href="icon.png"> -->
  <link rel="stylesheet" type="text/css" href="static/LmH_V1.css" />


  <script type="text/javascript" src="static/test.js"></script>
  <script type="text/javascript" src="static/LmH_cookies_V1.js"></script>
  <script type="text/javascript" src="static/LmH_V1.js"></script> <!-- MAIN SCRIPT -->




  <title>
    LmH 2021 🔥
  </title>
  <link rel="icon" href="static/icon.png">

  <!-- <script>
    var PRIMARYCOLOR = "#3e5061";
    var SECUNDARYCOLOR = "#3e5162"; //2#31405b

    var TERTIARYCOLOR = "#3e5162"; //#c9bb63 #82a3c2
    var HEADCOLOR = "#ffffff";
  </script> -->
</head>

<body>
  <ul class="hex-grid__menuList">
    <li class="hex-grid__menuItem" id="a1" style="grid-column: 1 / span 4; grid-row: 1 / span 2">
    </li>
    <li class="hex-grid__menuItem" id="a2" style="grid-column: 1 / span 4; grid-row: 3 / span 2">
    </li>
    <li class="hex-grid__menuItem" id="a3" style="grid-column: 1 / span 4; grid-row: 5 / span 2">
    </li>
    <li class="hex-grid__menuItem" id="a4" style="grid-column: 1 / span 4; grid-row: 7 / span 2">
    </li>
    <li class="hex-grid__menuItem" id="a5" style="grid-column: 1 / span 4; grid-row: 9 / span 2">
    </li>
    <li class="hex-grid__menuItem" id="a6" style="grid-column: 1 / span 4; grid-row: 11 / span 2">
    </li>
    <li class="hex-grid__menuItem" id="a7" style="grid-column: 1 / span 4; grid-row: 13 / span 2">
    </li>
    <li class="hex-grid__menuItem" id="a8" style="grid-column: 1 / span 4; grid-row: 15 / span 2">
    </li>
    <li class="hex-grid__menuItem" id="a9" style="grid-column: 1 / span 4; grid-row: 17 / span 2">
    </li>
    <li class="hex-grid__menuItem" id="a10" style="grid-column: 1 / span 4; grid-row: 19 / span 2">
    </li>
    <li class="hex-grid__menuItem" id="b1" style="grid-column: 4 / span 4; grid-row: 2 / span 2">
    </li>
    <li class="hex-grid__menuItem" id="b2" style="grid-column: 4 / span 4; grid-row: 4 / span 2">
    </li>
    <li class="hex-grid__menuItem" id="b3" style="grid-column: 4 / span 4; grid-row: 6 / span 2">
    </li>
    <li class="hex-grid__menuItem" id="b4" style="grid-column: 4 / span 4; grid-row: 8 / span 2">
    </li>
    <li class="hex-grid__menuItem" id="b5" style="grid-column: 4 / span 4; grid-row: 10 / span 2">
    </li>
    <li class="hex-grid__menuItem" id="b6" style="grid-column: 4 / span 4; grid-row: 12 / span 2">
    </li>
    <li class="hex-grid__menuItem" id="b7" style="grid-column: 4 / span 4; grid-row: 14 / span 2">
    </li>
    <li class="hex-grid__menuItem" id="b8" style="grid-column: 4 / span 4; grid-row: 16 / span 2">
    </li>
    <li class="hex-grid__menuItem" id="b9" style="grid-column: 4 / span 4; grid-row: 18 / span 2">
    </li>
    <li class="hex-grid__menuItem" id="b10" style="grid-column: 4 / span 4; grid-row: 20 / span 2">
    </li>
  </ul>

  <ul class="hex-grid__langList">
    <li class="hex-grid__langItem" id="l1" style="grid-column: 1 / span 4; grid-row: 1 / span 2">
    </li>
    <li class="hex-grid__langItem" id="l2" style="grid-column: 4 / span 4; grid-row: 2 / span 2">
    </li>
    <li class="hex-grid__langItem" id="l3" style="grid-column: 1 / span 4; grid-row: 3 / span 2">
    </li>
    <li class="hex-grid__langItem" id="l4" style="grid-column: 4 / span 4; grid-row: 4 / span 2">
    </li>
    <li class="hex-grid__langItem" id="l5" style="grid-column: 1 / span 4; grid-row: 5 / span 2">
    </li>
    <li class="hex-grid__langItem" id="l6" style="grid-column: 4 / span 4; grid-row: 6 / span 2">
    </li>
    <li class="hex-grid__langItem" id="l7" style="grid-column: 1 / span 4; grid-row: 7 / span 2">
    </li>
    <li class="hex-grid__langItem" id="l8" style="grid-column: 4 / span 4; grid-row: 8 / span 2">
    </li>
    <li class="hex-grid__langItem" id="l9" style="grid-column: 1 / span 4; grid-row: 9 / span 2">
    </li>
    <li class="hex-grid__langItem" id="l10" style="grid-column: 4 / span 4; grid-row: 10 / span 2">
    </li>
  </ul>

  <ul class="hex-grid__mainList">
    <li class="hex-grid__mainItem" id="mt1" style="grid-column: 1 / span 4; grid-row: 1 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mt2" style="grid-column: 4 / span 4; grid-row: 2 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mt3" style="grid-column: 1 / span 4; grid-row: 3 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mt4" style="grid-column: 4 / span 4; grid-row: 4 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mt5" style="grid-column: 1 / span 4; grid-row: 5 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mt6" style="grid-column: 4 / span 4; grid-row: 6 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mt7" style="grid-column: 1 / span 4; grid-row: 7 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mt8" style="grid-column: 4 / span 4; grid-row: 8 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mt9" style="grid-column: 1 / span 4; grid-row: 9 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mt10" style="grid-column: 4 / span 4; grid-row: 10 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mt11" style="grid-column: 1 / span 4; grid-row: 11 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mt12" style="grid-column: 4 / span 4; grid-row: 12 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mt13" style="grid-column: 1 / span 4; grid-row: 13 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mt14" style="grid-column: 4 / span 4; grid-row: 14 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mt15" style="grid-column: 1 / span 4; grid-row: 15 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mt16" style="grid-column: 4 / span 4; grid-row: 16 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mt17" style="grid-column: 1 / span 4; grid-row: 17 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mt18" style="grid-column: 4 / span 4; grid-row: 18 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mt19" style="grid-column: 1 / span 4; grid-row: 19 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mt20" style="grid-column: 4 / span 4; grid-row: 20 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mb1" style="grid-column: 1 / span 4; grid-row: 2 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mb2" style="grid-column: 4 / span 4; grid-row: 3 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mb3" style="grid-column: 1 / span 4; grid-row: 4 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mb4" style="grid-column: 4 / span 4; grid-row: 5 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mb5" style="grid-column: 1 / span 4; grid-row: 6 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mb6" style="grid-column: 4 / span 4; grid-row: 7 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mb7" style="grid-column: 1 / span 4; grid-row: 8 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mb8" style="grid-column: 4 / span 4; grid-row: 9 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mb9" style="grid-column: 1 / span 4; grid-row: 10 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mb10" style="grid-column: 4 / span 4; grid-row: 11 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mb11" style="grid-column: 1 / span 4; grid-row: 12 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mb12" style="grid-column: 4 / span 4; grid-row: 13 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mb13" style="grid-column: 1 / span 4; grid-row: 14 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mb14" style="grid-column: 4 / span 4; grid-row: 15 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mb15" style="grid-column: 1 / span 4; grid-row: 16 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mb16" style="grid-column: 4 / span 4; grid-row: 17 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mb17" style="grid-column: 1 / span 4; grid-row: 18 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mb18" style="grid-column: 4 / span 4; grid-row: 19 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mb19" style="grid-column: 1 / span 4; grid-row: 20 / span 1">
    </li>
    <li class="hex-grid__mainItem" id="mb20" style="grid-column: 4 / span 4; grid-row: 21 / span 1">
    </li>
  </ul>

  <div class="cookiesWindow">
    <h2>Diese Webseite verwendet keine Cookies</h2>
    <div class="cookie_alsoyes" onclick="notAgree()">
      <h2><u>nicht einverstanden</u></h2>
    </div>
    <div class="cookie_yes" onclick="removeCookieWindow()">
      <h2>einverstanden</h2>
    </div>
  </div>


  <div class="tail">
    <div class="contact" onclick="contact()">
      <h2><u>Kontakt</u></h2>
    </div>
    <div class="impressum" onclick="opossum()">
      <h2><u>Impressum</u></h2>
    </div>
  </div>

  <!-- <div class="backgroundAudio" onclick="playAudio('glied.mp3')">
    GLIED
  </div> -->

</body>
</html>
